.lengthInput {
  width: 3rem;
  font-size: 1rem;
  box-shadow: #ccc 0px 1px 3px 0px inset;
  padding: 0.5rem 0.6rem;
  border: 1px solid #333;
}

hr.recommendationDivider {
  width: 100%;
  margin: 1rem 0;
}

.adults, .children {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 1rem;
}
.adults table,
.children table {
  border-collapse: collapse;
}

.adults table th,
.adults table td,
.children table th,
.children table td {
  border: 1px solid #999;
  font-weight: normal;
  padding: 0.5rem;
}

.adults table td,
.children table td {
  text-align: left;
}

.childrenTitle,
.adultsTitle {
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}
